<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Game Select</title>

</head>
<body>
    <div id="wrapper">
        <div id="navbar">
            <div id="logo"> 
                <img src="/static/images/new_logo.png" alt="LFG loge.png" class="logo">
            </div>
            <div id="navbar-content">
                <button class="btn" onclick="window.location.href='/user_profile/{{session.user_id }}'">My Profile</button>
                <button class="btn" onclick="window.location.href='/logout'">Sign Out</button>
            </div>
        </div>
        <hr>
        <h1 id="games_selecter_header">What games do you play?</h1>
        <br>
        <div>
            <form action="/select/game/process" method="post" id="games_selecter_form">
                {% for game in games %}
                <div id="games_selecter_{{ game.id }}" class="games_selecter"  onclick="toggleCheckbox('hidden_checkbox_{{ game.id }}', 'games_selecter_{{ game.id }}')">
                    <img src="/static/images/games/{{ game.image }}" alt="{{ game.name }}" id="game_image">
                    <input id="hidden_checkbox_{{ game.id }}" class="checkbox" type="checkbox" name="game_id" value="{{ game.id }}">
                    <input type="hidden" name="user_id" value="{{ session['user_id'] }}">

                </div>
                {% endfor%}
                <div id="game_selector_nav">
                    <br><br>
                    <button type="submit" id="games_selecter_btns">Continue</button>
                    <br>
                    <a href="/add/about_me" id="games_selecter_skip">skip</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>


