<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>LFG Login</title>
</head>
<body>
    <div id="Login_and_Registration_wrapper">
        <h1>Welcome back to LFG</h1>
        <div id="forms">
            <div id="login" >
                <h2>Login</h2>
                <div>
                    {% with messages = get_flashed_messages(category_filter=["login"]) %}
                        {% if messages %}
                            {% for message in messages %}
                            <p id="flash">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <br>
                <form action="/login" method="post" id="signin">
                    <label>
                        Email:
                        <input type="email" name="email" required>
                    </label>
                    <label>
                        Password:
                        <input type="password" name="password" required>
                    </label>
                    <button type="submit">Login</button>
                    <a href="/"><p>Oops! Need to make an account?</p></a>
                </form> 
        </div>
    </div> 