<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>LFG registration</title>
</head>
<body>
    <div id="Login_and_Registration_wrapper">
        <h1>Welcome to LFG</h1>

        <div id="forms">
            <div id="mission_statment">
                <p>"At <span class="span_color">LFG (Looking For Group)</span>, our mission is to empower gamers by providing 
                    a dynamic and inclusive platform where players of all backgrounds, interests, 
                    and skill levels can effortlessly connect, collaborate, and embark on epic gaming 
                    adventures together. We are committed to fostering a vibrant and supportive gaming 
                    community that transcends boundaries, enabling friendships to form, teamwork to flourish, 
                    and memorable experiences to be shared. With <span class="span_color">LFG</span>, we aim to be the catalyst for extraordinary 
                    gaming moments, helping players from around the world find their perfect group and take their 
                    gaming journeys to new heights. We believe that every gamer, no matter where they are or what 
                    they play, should have the opportunity to unite, strategize, and conquer as part of a community 
                    that celebrates the joy of gaming."
            </div>
            <div id="registration">
                <h2>Create an Account</h2>
                <form action="/register" method="post" id="register">
                
                        {% with username_messages = get_flashed_messages(category_filter=["username"]) %}
                            {% if username_messages %}
                                {% for message in username_messages %}
                                <p id="flash">{{message}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    <label>
                        Username:
                        <input type="text" name="username" placeholder="Minimum 2 charaters" required>
                    </label>

                        {% with email_messages = get_flashed_messages(category_filter=["email"]) %}
                            {% if email_messages %}
                                {% for message in email_messages %}
                                <p id="flash">{{message}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    <label>
                        Email:
                        <input type="email" name="email"  placeholder="example@email.com" required>
                    </label>
                    
                    
                        {% with password_messages = get_flashed_messages(category_filter=["password"]) %}
                            {% if password_messages %}
                                {% for message in password_messages %}
                                <p id="flash">{{message}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    <label>
                        Password:
                        <input type="password" name="password" placeholder="Minimum 8 charaters" required>
                    </label>

                    
                        {% with confirm_password_messages = get_flashed_messages(category_filter=["confirm_password"]) %}
                            {% if confirm_password_messages %}
                                {% for message in confirm_password_messages %}
                                <p id="flash">{{message}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    <label>
                        Confirm:
                        <input type="password" name="confirm_password" placeholder="Must match password" required> 
                    </label>
                    <div class="button">
                        <button type="submit">Create Account!</button>
                    </div> 
                    <p><a href="/returning_user">Already have and Account?</a></p>
                    <p>By Creating an account, you agree to our User Agreement and acknowledge reading our User Privacy Notice.</p>
                </form> 
                <br>
                
            </div>
        </div>
    </div>
</body>
</html>
