<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>{{ session['username'] }}'s  Lfg Profile</title>
</head>
<body>
    <div id="wrapper">

        <div id="navbar">
            <div>
                <img src="/static/images/logo.png" alt="LFG loge.png">
            </div>
            <div id="navbar-content">
                <button class="btn" onclick="window.location.href='/user_profile/{{session.user_id }}'">Find Gamers!</button>
                {% if user.id != session['user_id'] %}
                <button class="btn" onclick="window.location.href='/user_profile/{{session.user_id }}'">My Profile</button>
                {% else %}
                <button class="btn" onclick="window.location.href='/edit/user_profile/{{session.user_id }}'">Account Settings</button>
                {% endif %}
                <button class="btn" onclick="window.location.href='/logout'">Sign Out</button>
            </div>
        </div>

        <div id="main">
            <div id="Profile_column">
                <div id="profile_picture">
                    <img src="/static/images/profile_pic.jpg" alt="profile pic">
                    {% if user.id == session['user_id'] %}
                        <button>Upload Picture</button>
                    {% endif %}
                    <p>{{ user.username }}</p>
                </div>
                <div id="following_box">
                    Following
                    
                </div>
            </div>
            <div id="contents">
                <h2>About Me</h2>
                {% if user.about_me != none  %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                <hr>
                <br>
                <h2>Games I Play</h2>
                {% for game in games %}
                    {% if game.user_id == user.id %}
                        <img src="/static/images/games/{{ game.image }}" alt="{{ game.name }}" id="profile_game_image">
                    {% endif %}
                {% endfor %}
                <hr>
                <h3>Comments</h3>
                {% for comment in comments %}
                    {% if comment.commenti_id == user.id %}
                    <hr>
                        <P><strong>{{ comment.commenter.username }}</strong> -- <em>{{ comment.created_at }}</em> 
                            {% if comment.commenter.id == session['user_id'] %}
                                <button onclick="show_update_form('update_form_{{comment.comment_id}}'); hide_edit_btn(this); hide_comment_body('comment_body_{{comment.comment_id}}')" id="edit_comment_btn_{{comment.comment_id}}">Edit</button>
                                <button onclick="window.location.href='/remove_comment/{{ comment.comment_id }}'">Delete</button>
                            {% endif %}
                            <br></P>
                        <p id="comment_body_{{comment.comment_id}}">{{ comment.body }} 
                            {% if comment.created_at != comment.updated_at %}
                                <em>(Edited)</em> 
                            {% endif %}
                        </p>
                        <form action="/comment/update/process" id="update_form_{{comment.comment_id}}" class="hiddendisplay" method="post">
                            <textarea id="comment_text_area" name="body" >{{ comment.body }}</textarea>
                            <input type="hidden" name="id" value="{{ comment.comment_id }}">
                            <input type="hidden" name="commenti_id" value="{{ user.id }}">
                            <br>
                            <button type="reset" class="comment_btn" onclick="hide_comment_form('comment_body_{{comment.comment_id}}'); show_comment_body('update_form_{{comment.comment_id}}'); show_edit_btn('edit_comment_btn_{{comment.comment_id}}') ">Cancel</button>
                            <button type="submit" class="comment_btn">Edit</button>
                            <br>
                        </form>
                    {% endif %}
                {% endfor %}
            
                <hr>
                <div>
                    <button onclick="show_comment_form('comment_form'); hide_add_comment(this)" class="comment_btn">Add Comment</button>

                    <form action="/comment/process" id="comment_form" class="hiddendisplay" method="post">
                        <input type="hidden" name="commenter_id" value="{{ session['user_id'] }}">
                        <input type="hidden" name="commenti_id" value="{{ user.id }}">
                        <textarea id="comment_text_area" name="body"></textarea>

                        <button type="submit" class="comment_btn">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


