<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>{{ session['username'] }}'s  Lfg Profile</title>
</head>
<body>
    <div id="wrapper">

        <div id="navbar">
            <div id="logo"> 
                <img src="/static/images/new_logo.png" alt="LFG loge.png" class="logo">
            </div>
            <div id="navbar-content">
                <button class="btn" onclick="window.location.href='/find/gamers'">Find Gamers!</button>
                {% if user.id != session['user_id'] %}
                    {% if session['user_id'] %}
                        <button class="btn" onclick="window.location.href='/user_profile/{{session.user_id }}'">My Profile</button>
                    {% endif %}
                {% else %}
                        <button class="btn" onclick="window.location.href='/edit/user_profile/{{session.user_id }}'">Account Settings</button>
                {% endif %}

                {% if session['user_id'] %}
                    <button class="btn" onclick="window.location.href='/logout'">Sign Out</button>
                {% else %}
                    <button class="btn" onclick="window.location.href='/returning_user'">Sign In</button>
                    {% endif %}
            </div>
        </div>
        <hr>

        <div id="main">
            <div id="Profile_column">
                <div id="profile_picture">
                    <img src="/static/images/profile_pic.jpg" alt="profile pic" id="profile_image">
                    <p>{{ user.username }}</p>
                </div>
            </div>
            <div id="contents">
                <h2>About Me</h2>
                <hr>
                    <div id="about_me_section" class="section">
                    {% if user.about_me != "none" %}
                        <p>{{ user.about_me }}</p>
                    {% endif %}
                    </div>
                <hr>
                <br>
                <h2>Games I Play</h2>
                <hr>
                <div id="games_section" class="section" >
                    {% for game in games %}
                        {% if game.user_id == user.id %}
                            <img src="/static/images/games/{{ game.image }}" alt="{{ game.name }}" id="profile_game_image" class="games_selecter_profile">
                        {% endif %}
                    {% endfor %}
                </div>

                <hr>
                <h3>Comments</h3>
                {% for comment in comments %}
                    {% if comment.commenti_id == user.id %}
                    <hr>
                        <div id="Comments_section" class="section">
                        <a href="/user_profile/{{ comment.commenter.id }}"><strong>{{ comment.commenter.username }}</strong></a> -- <em>{{ comment.created_at }}</em> <button class="comment_btn btn" onclick="window.location.href='/remove_comment/{{ comment.comment_id }}'">Reply</button>
                            {% if comment.commenter.id == session['user_id'] %}
                                <button class="comment_btn btn" onclick="window.location.href='/remove_comment/{{ comment.comment_id }}'">Delete</button>
                                <button class="comment_btn btn" onclick="show_update_form('update_form_{{comment.comment_id}}'); hide_edit_btn(this); hide_comment_body('comment_body_{{comment.comment_id}}')" id="edit_comment_btn_{{comment.comment_id}}">Edit</button>
                                
                            {% endif %}
                            <br>
                            <p id="comment_body_{{comment.comment_id}}">{{ comment.body }} 
                                {% if comment.created_at != comment.updated_at %}
                                    <em>(Edited)</em> 
                                {% endif %}
                            </p>
                            
                            <form action="/comment/update/process" id="update_form_{{comment.comment_id}}" class="hiddendisplay" method="post">
                                <textarea id="comment_text_area" name="body" >{{ comment.body }}</textarea>
                                <input type="hidden" name="id" value="{{ comment.comment_id }}">
                                <input type="hidden" name="commenti_id" value="{{ user.id }}">
                                <br>
                                <button type="reset" class="comment_btn btn" onclick="hide_comment_form('comment_body_{{comment.comment_id}}'); show_comment_body('update_form_{{comment.comment_id}}'); show_edit_btn('edit_comment_btn_{{comment.comment_id}}') ">Cancel</button>
                                <button type="submit" class="comment_btn btn">Edit</button>
                                <br>
                            </form>
                        </div>
                            <!-- {% for reply in replies %}
                            {{ reply.responder.username }}
                                {% if reply.original_post_id == comment.comment_id %}
                                
                            <div id="Replies_section" class="section">
                            <a href="/user_profile/{{ comment.commenter.id }}"><strong> {{ reply.responder.username }} </strong></a> -- <em>{{ reply.created_at }} </em> <button class="comment_btn btn" onclick="window.location.href='/remove_comment/{{ comment.comment_id }}'">Reply</button>

                            <p id="reply_body_{{reply.response_id}}"> <span>@{{ comment.commenter.username }}</span> {{ reply.body }} 
                                    {% if reply.created_at != reply.updated_at %}
                                    <em>(Edited)</em> 
                                    {% endif %}
                            </p>
                            </div>
                                {% endif %}
                            {% endfor%} -->
                    {% endif %}
                {% endfor %}
                <hr>
                <div>
                    {% if session['user_id'] %}
                    <button onclick="show_comment_form('comment_form'); hide_add_comment(this)" class="comment_btn btn">Add Comment</button>
                    {% endif %}

                    <form action="/comment/process" id="comment_form" class="hiddendisplay" method="post">
                        <input type="hidden" name="commenter_id" value="{{ session['user_id'] }}">
                        <input type="hidden" name="commenti_id" value="{{ user.id }}">
                        <textarea id="comment_text_area" name="body"></textarea>

                        <button class="comment_btn btn" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


