/* #222246 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #070720;
    color: #ffffff;
}

body {
    margin: 0;
}

#wrapper{
    background-color: #191937;
    min-height: 100%;
    padding: 0px 15px 0px 15px;
    border-left-style: outset;
    border-left-color: #222246;
    border-right-style: inset;
    border-right-color: #222246;
}

p {
    color: #ffffff;
}

/* h1{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
} */

h1{
    color: #C7DCFE;
}

#wrapper{
    width: 1080px;
    margin: 0px auto;
    /* text-align: center; */
}
#Login_and_Registration_wrapper h1{
    font-size: 50px;
    text-align: center;
}

#forms{
    display: flex;
    margin: 0px auto;
    justify-content: center;
}

#mission_statment {
    width: 550px;
}

#mission_statment p{
    font-size: 22px;
}

.span_color{
    color: #C7DCFE;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#registration h2, #login h2{
    font-size: 40px;
    margin-top: 5px;
    color: #C7DCFE;
}
#registration, #login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border: #222246;
    border-style: outset;
    border-style: solid;
    border-radius: 15px;
    padding: 40px;
    width: 400px;
    background-color: #222246;
}
#registration label, #login label{
    color: #ffffff;
    font-size: 18px;
}

#registration a, #login a{
    color: #C7DCFE;
    text-decoration: none;
}

#registration a:hover, #login a:hover{
    color: #ffffff;

}

#register{
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: bold;
    text-align: right;
    justify-content: space-between;
    align-items: end;
    margin-right: 150px;
    width: 400px;
    height: 200px;
    
}

#flash, #register p{
    margin: 3px 0px 0px 0px;
}

#register hr{
    margin-top: 2px;
}

#signin{
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: bold;
    text-align: right;
    justify-content: space-between;
    align-items: end;
    margin-right: 150px;
    width: 400px;
    height: 100px;
}

#signin label{
    margin: 3px;
}

.button{
    display: flex;
    width: 170px;
    justify-content: space-between;
    margin-top: 10px;
}

/* headers */
#header{
    display: flex;
    justify-content: space-between;
}

/*nav */
#navbar{
    display: flex;
    justify-content: space-between;
    width: 1080px;
    align-items: center;
    color: #ffffff;
    height: 120px;
    padding: 0px 10px;

}

#navbar-content{
    color: #ffffff;
    height: 70px;
    margin-bottom: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#logo{
    padding: 5px 0px 5px 0px;

}
.logo{
    width: 30%;
    height: 30%;
    margin: 5px 0px 5px 0px;
}

.nav-links{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none; 
}
.btn{
    border-radius: 10px;
    border-color: #C7DCFE;
    margin-left: 10px;
    color: #222246;
    background-color: #C7DCFE;
}

.btn:hover{
    color: #C7DCFE;
    background-color: #222246;
}

/* console and games select */
#consoles_selecter_header, #games_selecter_header{
    font-size: 55px;
}
#console_image{
    height: 300px;
    width: 300px;
}


#consoles_selecter_form, #games_selecter_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.consoles_selecter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 5px solid transparent;
    margin-bottom: 15px;
    margin-left: 15px;

}

.consoles_selecter:hover{
    border-color: #C7DCFE;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.games_selecter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 15px;
    margin-left: 15px;
    border: 5px solid transparent;
}

.games_selecter:hover{
    border-color: #C7DCFE;
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
    border-radius: 15px;
}


#console_selector_nav, #game_selector_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#consoles_selecter_btns, #games_selecter_btns{
    font-size: 45px ;
    width: 500px;
    border-radius: 20px;
    border-color: #C7DCFE;
    color: #C7DCFE;
    background-color: #222246;
    margin: 40px 0px 0px 0px;
}

#consoles_selecter_btns:hover, #games_selecter_btns:hover{
    background-color: #C7DCFE;
    color: #222246;
}
#consoles_selecter_skip, #games_selecter_skip{
    font-size: 25px ;
    margin: 10px 0px 40px 0px;
    color: #C7DCFE;
    text-decoration: none;
}

#consoles_selecter_skip:hover, #games_selecter_skip:hover{
    color: #ffffff;
}

.checkbox{
    display: none;
}

.checkbox:checked{
    border-color: #51d6ff;
    border-style: solid;
    padding: 10px;
}

/*about me*/
#about_me_flash{
    font-size: 18px;
}
/* profile_page */
#main{
    display: flex;
    justify-content: space-between;
}

#main a:hover{
    color: #ffffff;
}

#Profile_column{
    width: 300px;
    display: flex;
    flex-direction: column;
}

#contents{
    width: 820px;
}

#contents h2{
    font-size: 30px;
    margin-bottom: 0px;
    
}
#contents h3{
    font-size: 23px;
    margin: 0px;

}
#contents em{
    font-size: 12px;
}
#contents strong{
    font-size: 20px;

}

#contents p{
    font-size: 18px;
}

.section{
    border: 5px solid transparent;
    background-color: #222246;
    margin: 10px 0px 10px 0px;
    border-radius: 15px;
}

#Comments_section p{
    padding-left: 30px;
    margin: 7px 0px 5px 0px;
}

#Comments_section a{
    color: #C7DCFE;
    text-decoration: none;
}

#hr_spacing{
    margin-top: 32.9px;
}

#games_section, #about_me_section{
    padding: 10px 0px 0px 30px;
}

#edit_games_section, #edit_consoles_section{
    padding: 10px 0px 20px 0px;
}

#profile_picture{
    margin-top: 24.9px;
    margin-bottom: 100px;
    width: 150px;
    height: 150px;
    text-align: center;
}

#hidden_upload{
    display: none;
}

#profile_picture p{
    margin: 0;
    margin-top: 5px;
    font-size: 30px;
}

#profile_image{
    border-radius: 15px;
}

.hiddendisplay{
    display: none;
}

#profile_game_image{
    height: 90px;
    width: 90px;
    margin: 10px;
    margin-top: 0px;
}


#comment_text_area, #about_me_text_area{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#about_me_text_area{
    width: 80%;
}


.comment_btn{
    float: right
}

/* Edit Profile */
#edit_game_image{
    height: 90px;
    width: 90px;
    margin: 10px;
    margin-top: 0px;
}

#edit_comment_text_area{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 5px solid #C7DCFE;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.edit_games_selecter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    border: 5px solid transparent;
    cursor: pointer;
    border-radius: 15px;
}
/* .edit_games_selecter:hover{
    border-color: #51d6ff;
    border: 5px solid ;
    border-width: 5px;
    cursor: pointer;
    border-radius: 15px;
} */


.edit_consoles_selecter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit_console_image{
    height: 90px;
    width: 90px;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#user_info_update{
    width: 200px;
}

.edit_pg{
    margin-top: 20px;
}

.btn_right{
    margin: 5px 0px 0px 0px;
    float: right;
    display: block;


}

/* Veiw users */
.profiles_display{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 5px solid transparent;
    background-color: #222246;
    margin: 10px 0px 10px 0px;
    border-radius: 15px;
}

.profiles_display:hover{
    cursor: pointer;
    padding: 10px;
    border: 5px solid #C7DCFE;
    border-radius: 15px;
}


.profiles_display h2{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
    
}

.profile_pics{
    height: 125px;
    width: 125px;
    margin-right: 20px;
    border-radius: 15px;
}

#all_gamers_game_image, #all_gamers_console_image{
    height: 60px;
    width: 60px;
    margin: 0px 3px 0px 3px;
}

#all_gamers_console{
    display: flex;
    justify-content: right;
    align-items: first end;
}



#games_and_consoles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}